.card {
  background-image: url("/assets/space.jpg");
  width: 200px;
  height: 230px;
  border: 2px solid #ffd54e;
  color: #ffd54e;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
  line-height: 15px;
  overflow: scroll; }

h2 {
  font-size: 1rem;
  background-color: #3b444b;
  padding: 3px;
  border-radius: 5px; }

h3 {
  background-color: #3b444b;
  padding: 3px;
  border-radius: 5px; }

h4 {
  background-color: #3b444b;
  padding: 3px;
  border-radius: 5px; }

h5 {
  background-color: #3b444b;
  padding: 3px;
  border-radius: 5px; }

.card-key {
  color: red; }
