
.App {
  display: grid;
  grid-template-columns: 200px 1fr 400px;
  grid-template-rows: 300px 1fr;
  grid-template-areas: 
  "a f f"
  "e e e";
  justify-content: stretch;
  align-items: stretch;
  // background-image: url('/assets/cantina.jpg');
  // background-size: 120vw;
  // background-repeat: no-repeat;
}

.nav-container {
  grid-area: f;
  margin-left: 500px;
  margin-top: 50px;
}

.beer-nav {
  height: 600px;
}

.cantina-image {
  position: absolute;
  height: 100%;
  z-index: -1;
}

nav {
  display: flex;
}
