.App {
  display: grid;
  grid-template-columns: 200px 1fr 400px;
  grid-template-rows: 300px 1fr;
  grid-template-areas: "a b c" "e e f";
  justify-content: stretch;
  align-items: stretch; }

.nav-container {
  grid-area: f; }

.beer-nav {
  height: 400px; }

.cantina-image {
  position: absolute;
  height: 100%;
  z-index: -1; }
