.card {
  background-image: url('/assets/space.jpg');
  width: 200px;
  height: 230px;
  border: 2px solid #ffd54e;
  color: #ffd54e;
  margin-right: 10px;
  margin-bottom: 15px;
  border-radius: 4px; 
  padding: 10px;
  line-height: 15px;
  overflow: scroll;
  transition: 1s;
}

h2 {
 font-size: 1rem;
 background-color: #3b444b;
 padding: 3px;
 border-radius: 5px;
}

h3, h4, h5 {
  background-color: #3b444b; 
  padding: 5px;
  border-radius: 5px;
}

.card-key {
  color: red;
}

.favorited {
  transform: scale(1.05);
  -webkit-box-shadow: -1px 4px 32px 2px rgba(128,2,2,1);
  -moz-box-shadow: -1px 4px 32px 2px rgba(128,2,2,1);
  box-shadow: -1px 4px 32px 2px rgba(128,2,2,1);
}