.favorites-button, .planets-button, .people-button, .vehicles-button {
  border: 3px solid #ffd54e;
  color: #ffd54e;
  background-color: #3b444b;
  margin: 0px 30px;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Righteous', 'cursive';  
}

.favorites-button:active, .planets-button:active, .people-button:active, .vehicles-button:active {
  background-color: chartreuse;
}

.favorites-button {
  width: 130px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.planets-button, .people-button, .vehicles-button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.favorite-active {
  background-color: red;
}

.favorite-counter {
  color: red;
}